.done-true {
  text-decoration: line-through;
  color: grey;
}
.navbar-default-black {
  background-color: #111111;
  border-color: #e7e7e7;
}
h4 {
    color: #FFFFFF;
    margin-left: 500px;
}
#bloc2
{
   float:right; 
}
#bloc1, #bloc2
{
    display:inline;
}
body {
	line-height: 1.8;
}
nav.navbar.navbar-default-black.navbar-static-top {
    height: 50px;
}