<!doctype html>
<html ng-app="myApp">
  <head>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/metisMenu.css">
    <link rel="stylesheet" href="css/sb-admin-2.css">
    <link rel="stylesheet" href="css/sp.css">
    <link rel="stylesheet" href="css/custom.css">
<!--     <link rel="stylesheet" href="css/custom_nordea.css"> -->

  </head>
  <body ng-controller="MyController" ng-init="getAccounts()">
      <div id="wrapper">
        <nav class="navbar navbar-default-black navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" align="center">
                <h4>MY   BUDGET</h4>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html">
                              <div id="block_container">
                                <div id="bloc1"><i class="fa fa-bar-chart-o fa-fw"></i> Liquidity </div>
                                <div id="bloc2" align="right">
                                  <span id="toggle_wrapper" ng-click="toggleLiquidity()">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                              </div> </a>
                        </li>
                        <li>
                            <a href="index.html">
                              <div id="block_container">
                                <div id="bloc1"><i class="fa fa-bar-chart-o fa-fw"></i> Liquidity alert </div>
                                <div id="bloc2" align="right">
                                  <span id="toggle_wrapper" ng-click="toggleLiquidityAlert()">
                                    <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                              </div></a>
                        </li>
                        <li>
                            <a href="index.html">
                              <div id="block_container">
                                <div id="bloc1"><i class="fa fa-bar-chart-o fa-fw"></i> Income </div>
                                <div id="bloc2" align="right">
                                  <span id="toggle_wrapper" ng-click="toggleIncome()">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                              </div></a>
                        </li>
                        <li>
                            <a href="index.html">
                              <div id="block_container">
                                <div id="bloc1"><i class="fa fa-bar-chart-o fa-fw"></i> Expenses </div>
                                <div id="bloc2" align="right">
                                  <span id="toggle_wrapper" ng-click="toggleExpenses()">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"></span></div>
                              </div></a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw active"></i> Accounts</a>
                            <ul class="nav nav-second-level">
                             <!--     <li ng-repeat="acc in accounts track by acc.id">
                                     <a href="#">
                                      <div id="block_container">
                                        <div id="bloc1">{{acc.id.substr(8)}}</div>
                                        <div id="bloc2" align="right">
                                          <span id="toggle_wrappera{{$index}}" ng-click="toggleAccount(acc.id)">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                                      </div></a>
                                  </li--> 
                                  <li >
                                     <a href="#">
                                      <div id="block_container">
                                        <div id="bloc1">{{accounts[0].id.substr(8)}}</div>
                                        <div id="bloc2" align="right">
                                          <span id="toggle_wrapper20" ng-click="toggleAccount(accounts[0].id)">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                                      </div></a>
                                  </li>
                                  <li >
                                     <a href="#">
                                      <div id="block_container">
                                        <div id="bloc1">{{accounts[1].id.substr(8)}}</div>
                                        <div id="bloc2" align="right">
                                          <span id="toggle_wrapper21" ng-click="toggleAccount(accounts[1].id)">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                                      </div></a>
                                  </li>
                                  <li >
                                     <a href="#">
                                      <div id="block_container">
                                        <div id="bloc1">{{accounts[2].id.substr(8)}}</div>
                                        <div id="bloc2" align="right">
                                          <span id="toggle_wrapper22" ng-click="toggleAccount(accounts[2].id)">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                                      </div></a>
                                  </li>
                                  <li >
                                     <a href="#">
                                      <div id="block_container">
                                        <div id="bloc1">{{accounts[3].id.substr(8)}}</div>
                                        <div id="bloc2" align="right">
                                          <span id="toggle_wrapper22" ng-click="toggleAccount(accounts[3].id)">
                                            <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-height="10"></span></div>
                                      </div></a>
                                  </li>
                            </ul>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" align="center">
                            <button ng-click="generateChart(aggregator_type.month)" type="button" class="btn btn-outline btn-primary">Months</button>
                            <button ng-click="generateChart(aggregator_type.week)" type="button" class="btn btn-outline btn-primary">Weeks</button>
                            <button ng-click="generateChart(aggregator_type.day)" type="button" class="btn btn-outline btn-primary">Days</button>
                        </div>
                        <div class="panel-body" style="height: 450px;">
                         <!--<chart value="myChart" type="LineBar"></chart>-->
                      <!--    <chart value="myChart" type="Pie" algin="middle"></chart> -->
													<canvas id="myChart"> </canvas>
                        </div>
                    </div>
                </div>
<!--                 <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Enter OAuth2 token here
                        </div>
                        <div class="panel-body" style="height: 450px;">
                          <div class="form-group" >
                            <label>OAuth2 token (prefilled token for client #12345678):</label>
                            <textarea ng-model="textModel" class="form-control" rows="16"></textarea>
                            <button ng-click="generateChart()" type="button" class="btn btn-outline btn-primary">generate new chart</button>
                          </div>
                        </div>
                    </div>  
                </div> -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/sb-admin-2.js"></script>
    <script type="text/javascript" src="js/Chart.js"></script>
		<script type="text/javascript" src="js/expense_data.js"></script>
    <script type="text/javascript" src="js/metisMenu.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="js/myController.js"></script>
  </body>
</html>